alabaster
attrs
Babel
beautifulsoup4
certifi
chardet
css-html-js-minify
docutils
idna
imagesize
Jinja2
lxml
markdown-it-py
MarkupSafe
myst-parser
packaging
Pillow
Pygments
pyparsing
python-slugify
pytz
PyYAML
requests
recommonmark
six
snowballstemmer
soupsieve
Sphinx==2.4.4
sphinx-autobuild
sphinx-markdown-builder
sphinx-material
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
text-unidecode
Unidecode
urllib3
sphinx_markdown_tables