# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  release:
    types: [ created ]
  push:
    tags:
      - '*'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASS_PHRASE }}
          git-user-signingkey: true
          git-commit-gpgsign: true
      - name: Set up Maven
        uses: stCarolas/setup-maven@v4
        with:
          maven-version: 3.5.4
      - name: Generate settings.xml for Maven Builds
        uses: whelk-io/maven-settings-xml-action@v18
        with:
          servers: >
            [
              {
              "id": "ossrh",
              "username": "${{ secrets.OSSRH_USERNAME }}",
              "password": "${{ secrets.OSSRH_PASSWORD }}"
              },
              {
              "id": "github",
              "url": "https://maven.pkg.github.com/wgzhao/addax",
              "releases": {
                "enabled": "true"
              },
              "snapshots": {
                "enabled": "false"
              },
              "username": "wgzhao",
              "password": "${{ github.token }}"
              }
            ]
      - name: Set up JDK
        uses: actions/setup-java@v2.3.0
        with:
          java-version: '8'
          distribution: 'adopt'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file
      - run: mvn -B -V -T C1 -DskipTests deploy -Possrh

      - name: Publish to GitHub Packages Apache Maven
        run: mvn -B -V -T C1 -DskipTests deploy -s $GITHUB_WORKSPACE/settings.xml -Pgithub

